[Desktop Entry]
Type=Application
Name=AudioMagic
GenericName=Audio Recorder
Comment=Record several microphones, programs and streams at once
Exec=@BIN@
Icon=audiomagic
Terminal=false
Categories=AudioVideo;Audio;Recorder;
Keywords=record;recorder;podcast;microphone;pipewire;audio;multitrack;
StartupWMClass=audiomagic
StartupNotify=true
